*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

/* *********** */
/* index.html */
/* *********** */

body{
    background-color: cornflowerblue;
    
}

#grid{
    display: grid;
    grid-template-areas: 
    "top-bar top-bar top-bar"
    "main-content main-content main-content"
    "footer footer footer"
    ;
    grid-template-rows: 0.1fr 1fr 0.01fr;
    /* grid-template-columns: 25% 45% auto; */
    /* grid-row: 10px; */
    gap: 0.3rem;
    column-gap: 0.3rem;
    height: 100vh;
}

.footer{
    grid-area: footer;
    height: 3vh;
    background-color: black;
    text-align: center;
    font-size: 2rem;
    color: white;
    border-top: 2px solid black;
}

.top-bar{
    grid-area: top-bar;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-areas: "logo navigation login";
    grid-template-columns: 30% 40% 30%;
    align-content: space-evenly;
    justify-items: center;
    border-bottom: 2px solid black;
    background-color: white;
}

.logo{
    grid-area: logo;
}

.navigation{
    grid-area: navigation;
    display: inline-block;
}

.navigation a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    padding: 2rem;
}

.navigation a:hover{
    text-decoration: underline;
}

.login{
    grid-area: login;
}

/* .login button{ */
.login-button{
    width: 90px;
    height: 45px;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}

.main-content{
    grid-area: main-content;
    display: grid;
    grid-template-areas: 
        "content-news content-links"
        "content-media content-links"
    ;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 0.15fr;
}

.content-news-header{
    font-size: 3rem;
    padding: 1.5rem 0rem;
    margin-left: 1rem
}

.content-news-table{
    grid-area: content-news;
    display: flex;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    align-items: center;
    justify-content: center;
}

.news{
    font-size: 2.5rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
}

.news:hover{
    background-color: grey;
}

.content-media-header{
    font-size: 3rem;
    padding: 1.5rem 0rem;
    margin-left: 1rem
}

.content-media-table{
    grid-area: content-media;
    display: flex;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    justify-content: center;
    align-items: flex-start;
}

.video iframe{
    border-radius: 5px;
}

.content-links{
    grid-area: content-links;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.link-image img{
    width: 60%;
}

/* tableta */
@media(max-width:767px){
    
    #grid{
        grid-template-areas: 
        "top-bar"
        "main-content"
        "footer"
        ;
        grid-template-rows: 0.1fr 1fr 0.01fr;
        gap: 0.3rem;
        column-gap: 0.3rem;
        height: 100vh;
    }

    .top-bar{
        grid-template-areas: "logo login";
        grid-template-columns: 50% 50%;
    }

    .navigation{
        visibility: hidden;
    }

    .main-content{
        grid-template-areas: 
            "content-news"
            "content-media"
            "content-links"
        ;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-columns: 1fr;
        justify-items: stretch;
        align-items: center;
    }

    .content-news-table{
        flex-direction: column;
        align-items: center;
    }

    .content-media-table{
        flex-direction: column;
        align-items: center;
    }
    

    .news{
        font-size: 2rem;
        border: 1px solid black;
        border-radius: 5px;
        width: 300px;
    }

    .content-links{
        /* display: flex; */
        flex-direction: row;
    }

    .link-image img{
        width: 40%;
    }
}

@media(min-width:768px) and (max-width:991px){

    #grid{
        grid-template-areas: 
        "top-bar top-bar"
        "main-content main-content"
        "footer footer"
        ;
        grid-template-rows: 0.1fr 1fr 0.01fr;
        gap: 0.3rem;
        column-gap: 0.3rem;
        height: 100vh;
    }

    .top-bar{
        align-items: center;
        justify-content: space-around;

    }

    .main-content{
        grid-area: main-content;
        display: grid;
        grid-template-areas: 
            "content-news"
            "content-media"
            "content-links"
        ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: stretch;
        align-items: center;
    }

    .content-links{
        /* display: flex; */
        flex-direction: row;
    }

    .link-image img{
        width: 40%;
    }
}

/* escritorio */
@media(min-width:992px){
    
}

/* *********** */
/* login.html */
/* *********** */

.login-content form{
    width: 50%;
}

.login-content form fieldset{
    margin: 3rem;
    width: 30%;
    padding: 1rem;
    border: none;
}

.login-content{
    margin: 2rem 0rem;
}

.login-control label{
    display: block;
}


.login-control input, label{
    height: 2rem;
    font-size: 2rem;
}

.login-content .login-button{
    margin-top: 1rem;
}

.login-button:hover{
    background-color: darkslategray;
}