@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    color:red;
    background-color: honeydew;

}

ol{
    font-size: larger;
    color:blueviolet;
}

#bio{ /* ID */
    font-size: x-large;
    background-color: rgb(245, 231, 213);
    color: rgb(25, 27, 26);
    margin: 2%;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{ /* class */
    color: chocolate;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 600;
}

img{
    margin: 2%;
    border: 1px;
    border-radius: 3%;
}