*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: chocolate;
    text-align: center;
    padding: 2rem;
}

.contenido{
    margin: 1rem;
    background-color: bisque;
    width: 50%;
    padding: 0.5rem;
    float: left;
}

.contenido__imagen{
    width: 80%;
    margin-left: 3rem;
}

.contenido__imagen img{
    width: 100%;
    box-shadow: 5px 5px rgba(169, 169, 169, 0.721);
    border-radius: 10px;
}

.contenido ol {
    margin-top: 1rem;
    margin-left: 2rem;
}

.contenido__video{
    margin: 5rem;
    float: right;
}

.pie{
    background-color: black;
    color:white;
    clear: both;
    padding: 2rem;
    text-align: center;
}

/* aside {
    float: right;
} */
